{% extends 'base.html.twig' %}

{% block title %} Liste des commandes {% endblock %}

{% block meta %}
  <meta name="description" content="Commandes - Découvrez nos snacks faits maison, sucrés et salés, livrés avec soin.">
  <meta property="og:title" content="Snacks Artisanaux - Leila" />
{% endblock %}

{% block body %}
    <section class="container mx-auto py-10">
        <h1 class="text-3xl font-bold text-center mb-6">Liste des commandes</h1>

        <table class="w-full table-auto border-collapse dark:bg-[#2c2c2c] text-[#F9F4F2] dark:text-gray-300 ">
            <thead class="bg-rose-300 text-rose-100 dark:bg-[#2c2c2c] dark:text-gray-300 ">
                <tr>
                    <th class="p-4 border text-left">ID</th>
                    <th class="p-4 border text-left">Client</th>
                    <th class="p-4 border text-left">Total</th>
                    <th class="p-4 border text-left">Date</th>
                    <th class="p-4 border text-left">Status</th>
                    <th class="p-4 border text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="bg-rose-100 text-gray-600 dark:bg-[#2c2c2c] hover:bg-rose-300 text-[#F9F4F2] dark:text-gray-300">
                        <td class="p-4 border">{{ order.id }}</td>
                        <td class="p-4 border">{{ order.user.email }}</td>
                        <td class="p-4 border">{{ order.totalInEuros|number_format(2, ',', ' ') }} €</td>
                        <td class="p-4 border">{{ order.createdAt|date('d/m/Y H:i') }}</td>
                        <td class="p-4 border">{{ order.status }}</td>
                        <td class="p-4 border"><a href="{{ path('order_show', {'id': order.id}) }}" class="text-gray-500 hover:text-gray-600 transition duration-300">Voir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}