{% extends 'base.html.twig' %}

{% block title %} Liste des commandes - Leila Snacks{% endblock %}
{% block meta %}
  <meta name="description" content="Commandes">
{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-center mb-6">Liste des commandes</h1>

    <table class="w-full table-auto border-collapse">
        <thead class="bg-gray-100 dark:bg-[#2c2c2c] text-gray-900 dark:text-gray-300 border-b border-gray-300 dark:border-gray-600">
            <tr>
                <th class="p-2 border border-gray-300 dark:border-gray-600">ID</th>
                <th class="p-2 border border-gray-300 dark:border-gray-600">Client</th>
                <th class="p-2 border border-gray-300 dark:border-gray-600">Total</th>
                <th class="p-2 border border-gray-300 dark:border-gray-600">Date</th>
                <th class="p-2 border border-gray-300 dark:border-gray-600">Status</th>
                <th class="p-2 border border-gray-300 dark:border-gray-600">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr class="bg-white dark:bg-[#2c2c2c] text-gray-900 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-[#3a3a3a]">
                    <td class="p-2 border border-gray-300 dark:border-gray-600">{{ order.id }}</td>
                    <td class="p-2 border border-gray-300 dark:border-gray-600">{{ order.user.email }}</td>
                    <td class="p-2 border border-gray-300 dark:border-gray-600">{{ order.totalInEuros|number_format(2, ',', ' ') }} €</td>
                    <td class="p-2 border border-gray-300 dark:border-gray-600">{{ order.createdAt|date('d/m/Y H:i') }}</td>
                    <td class="p-2 border border-gray-300 dark:border-gray-600">{{ order.status }}</td>
                    <td class="p-2 border border-gray-300 dark:border-gray-600">
                        <a href="{{ path('order_show', {'id': order.id}) }}" class="text-rose-600 hover:text-rose-400 transition duration-300">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

