{% extends 'base.html.twig' %}

{% block title %} Accueil - Douceurs & Snacks de Leila {% endblock %}

{% block body %}

<section class="text-center py-5 bg-pink-100">
    <h1 class="text-3xl font-cursive">Douceurs & snacks de Leila</h1>
    <p class="text-pink-800">Des saveurs de fait maison pour tous les moments – faites avec amour et une touche spéciale de Leila.</p>
</section>

<section class="container mx-auto py-10">
    <h1 class="text-3xl font-cursive text-center mb-10">Nos Produits:</h1>

    {% for category in categories %}
        <h2 class="text-2xl font-bold mb-6">{{ category.category }}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-12">
            {% for product in category.products %}
                <div class="bg-white rounded shadow p-4 text-center hover:shadow-lg transition">
                    <a href="{{ path('product_detail', {'id': product.id}) }}">
                        <img src="/images/{{ product.image }}" alt="{{ product.titre }}" class="mx-auto rounded mb-2 transform hover:scale-105 transition duration-300 cursor-pointer">
                        <h3 class="font-bold hover:underline cursor-pointer">{{ product.titre }}</h3>
                    </a>
                    <p class="text-sm">{{ product.description|length > 100 ? product.description[:100] ~ '...' : product.description }}</p>
                    <p class="text-green-600 font-semibold mt-2">
                    <p>Prix : {{ (product.prix / 100)|number_format(2, ',', ' ') }} € / unité </p>
                </div>
            {% else %}
                <p>Aucun produit dans cette catégorie.</p>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucune catégorie disponible.</p>
    {% endfor %}
</section>
{% endblock %}

